.game-zone {
  width: 100%;
  height: 95%;
  background-color: #555555;
}

.question-zone {
  text-align: center;
  width: 100%;
  height: 20%;
  font-size: 30px;
  font-family: Helvetica Neue, Helvetica, Arial, Verdana, Geneva, Sans-Serif;
}

.play-zone {
  text-align: center;
  width: 100%;
  height: 75%;
}

.option-area {
  height: 15%;
  width: 100%;
  margin: 10% auto;
  clear: both;
}

.option {
  height: 50%;
  width: 50%;
  padding-top: 7%;
  border: solid 2px;
  margin-left: 25%;
  background-color: #1D1D1D;
  color: #6FD7DF;
  float: left;
  /* #D7BA7D */
}

.option-data {
  visibility: hidden;
  height: 50%;
  margin-left: 3%;
  padding-top: 7%;
  float: left;
}

.option-bar {
  text-align: left;
  visibility: hidden;
  height: 40%;
  width: 0%;
  padding-top: 5%;
  float: left;
  margin-left: 3%;
  background: linear-gradient(to bottom, rgb(209, 132, 46), rgb(150, 95, 33));
  background-clip: content-box;  
}

.option-bar-data {
  padding-top: 3%;
}
